.sidebar .card.bslib-value-box,
.sidebar .card-body,
.sidebar .card {
  overflow: visible;
  position: relative;
}

/* Remove bottom margin from checkbox inputs inside flex rows */
.d-flex > .shiny-input-container {
  margin-bottom: 0;
}

.selectize-dropdown {
  z-index: 10000;
}

.modal {z-index: 1150;}

.navbar-brand {
  margin-right: 0px;
}

body {
  background-color: #F5F5F5;
}

#website_logo {
  height: 40px;
}

@keyframes blink {
  0%   { stroke: orange; stroke-width: 4; }
  50%  { stroke: white; stroke-width: 4; }
  100% { stroke: orange; stroke-width: 4; }
}

.blink-outline {
  animation: blink 1s infinite;
}
