.sidebar .card.bslib-value-box,
.sidebar .card-body,
.sidebar .card {
  overflow: visible;
  position: relative;
}

.selectize-dropdown {
  z-index: 10000;
}

.modal {z-index: 1150;}

.navbar-brand {
  margin-right: 0px;
}

body {
  background-color: #F5F5F5;
}

#website_logo {
  height: 40px;
}

#start_sidebar_btn, #species_sidebar_btn, #habitats_sidebar_btn, #people_sidebar_btn, #values_sidebar_btn, #threats_sidebar_btn, #action_sidebar_btn {
  display: grid;
  margin: 0;
  padding: 11px 0 10px 0;
  font-size: 0.8rem;
  border-radius: 0;
  border-color: lightgrey;
}

#mini_sidebar i {
  font-size: 20px;
}

